<script src="/assets/plugins/jquery/jquery-min.js"></script>
<script src="/assets/plugins/jquery-ui/jquery-ui.js"></script>
<script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/plugins/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script src="/assets/plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<script src="/assets/plugins/selectbox/jquery.selectbox-0.1.3.min.js"></script>
<script src="/assets/plugins/owl-carousel/owl.carousel.js"></script>
<script src="/assets/plugins/waypoint/waypoints.min.js"></script>
<script src="/assets/plugins/counter-up/jquery.counterup.min.js"></script>
<script src="/assets/plugins/isotope/isotope.min.js"></script>
<script src="/assets/plugins/fancybox/jquery.fancybox.min.js"></script>
<script src="/assets/plugins/isotope/isotope-triger.js"></script>
<script src="/assets/plugins/countdown/jquery.syotimer.js"></script>
<script src=""></script>
<script src="/assets/plugins/velocity/velocity.min.js"></script>
<script src="/assets/plugins/smoothscroll/SmoothScroll.js"></script>https://maps.googleapis.com/maps/api/js?key=AIzaSyAxfj_-VsaIFqQr3bSXMaAHTe_n708i1hc
<script src="/assets/plugins/wow/wow.min.js"></script>
<script src="/assets/js/google-map.js"></script>
<script src="/assets/js/app.js"></script>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-131581496-1', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5c4a9ed1ab5284048d0e7e25/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
