<!-- NAVBAR -->
<nav id="menuBar" class="navbar navbar-default lightHeader" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="/assets/img/MK-logonew.png" alt="Kidz School"></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li class="color-1 ">
                <a href="/index.html">
                    <i class="fa fa-home bg-color-1" aria-hidden="true"></i> 
                    <span class="active">Home</span>
                </a>
            </li>
            <li class="color-3 ">
                <a href="/about.html">
                    <i class="fa fa-info-circle bg-color-3" aria-hidden="true"></i> 
                    <span class="active">About</span>
                </a>
            </li>
            <li class="color-2 ">
                <a href="/programs.html">
                    <i class="fa fa-file-text-o bg-color-2" aria-hidden="true"></i> 
                    <span class="active">Programs</span>
                </a>
            </li>
            <li class="color-4 ">
                <a href="/gallery.html">
                    <i class="fa fa-file-image-o bg-color-4" aria-hidden="true"></i> 
                    <span class="active">Gallery</span>
                </a>
            </li>
            <li class="color-5 ">
                <a href="/register.html">
                    <i class="fa fa-file-text-o bg-color-5" aria-hidden="true"></i> 
                    <span class="active">Enroll</span>
                </a>
            </li>
            <li class="color-6 ">
                <a href="/contact.html">
                    <i class="fa fa-file-text-o bg-color-6" aria-hidden="true"></i> 
                    <span class="active">Contact Us</span>
                </a>
            </li>
        </ul> 
      </div>

    </div>
  </nav>
