<section class="mainContent full-width clearfix coursesSection">
        <div class="container">
		
		{% for program in site.programs %}

  {% capture modulo %}{{ forloop.index | modulo: 3 }}{% endcapture %}

  {% if modulo == '1' %}
    <div class="row">
  {% endif %}
     <div class="col-md-4 col-sm-6 col-xs-12 block">
              <div class="thumbnail thumbnailContent">
                <a href="{{ program.url }}"><img src="{{ program.image }}" alt="image" style="min-height:213px" class="img-responsive"></a>
                 {% if class.price %}
			  <div class="sticker bg-{{ program.color }}">{{ program.price }}</div>
                    {% endif %}
                <div class="caption border-{{ program.color }}">
                  <h3><a href="{{ program.url }}" class="{{ program.color }}">{{ program.name }}</a></h3>
                  <ul class="list-unstyled">
                    <li><i class="fa fa-calendar-o" aria-hidden="true"></i>{{ program.ages }}</li>
                    <li><i class="fa fa-clock-o" aria-hidden="true"></i>{{ program.hours }}</li>
                  </ul>
                  <p>{{ class.description }} </p>
                  <ul class="list-inline btn-yellow">
                        {% if class.enroll == false %}
                        <li><a href="/contact.html" class="btn btn-primary ">Inquire</a></li>
                        {% else %}
                      <li><a href="https://schools.kinderlime.com/register/mighty-kids-bothell-bothell-98012" class="btn btn-primary "><i class="fa fa-shopping-basket " aria-hidden="true"></i>Enroll</a></li>
                      {% endif %}                    <li><a href="{{ program.url }}" class="btn btn-link"><i class="fa fa-angle-double-right" aria-hidden="true"></i> More</a></li>
                  </ul>
                </div>
              </div>
            </div>
  {% if modulo == '0' or forloop.last %}
    </div>
  {% endif %}

{% endfor %}  
        </div>
      </section>
