<section class="mainContent full-width clearfix coursesSection">
        <div class="container">
          <div class="row">

            {% for class in site.classes %}
            <div class="col-md-3 col-sm-6 col-xs-12 block">
              <div class="thumbnail thumbnailContent">
                <a href="{{ class.url }}"><img src="{{ class.image }}" alt="image" style="min-height:213px" class="img-responsive"></a>
                <div class="sticker bg-{{ class.color }}">{{ class.price }}</div>
                <div class="caption border-{{ class.color }}">
                  <h3><a href="{{ class.url }}" class="{{ class.color }}">{{ class.name }}</a></h3>
                  <ul class="list-unstyled">
                    <li><i class="fa fa-calendar-o" aria-hidden="true"></i>{{ class.ages }}</li>
                    <li><i class="fa fa-clock-o" aria-hidden="true"></i>{{ class.hours }}</li>
                  </ul>
                  <p>{{ class.description }} </p>
                  <ul class="list-inline btn-yellow">
                        {% if class.enroll == false %}
                        <li><a href="/contact.html" class="btn btn-primary ">Inquire</a></li>
                        {% else %}
                      <li><a href="/register.html" class="btn btn-primary "><i class="fa fa-shopping-basket " aria-hidden="true"></i>Enroll</a></li>
                      {% endif %}                    <li><a href="{{ class.url }}" class="btn btn-link"><i class="fa fa-angle-double-right" aria-hidden="true"></i> More</a></li>
                  </ul>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </section>