<!--====================================
    ——— PROMOTION SECTION
    ===================================== -->
    <section class="promotionWrapper " style="background-image: url(assets/img/home/promotion-1.jpg);" >
        <div class="container">
          <div class="promotionInfo wow fadeInUp">
            <h2>Need More Information?</h2>
            <p>If you have any questions or if you want to schedule a tour reach out through our contact page.</p>
            <a href="contact.html" class="btn btn-primary"><i class="fa fa-phone" aria-hidden="true"></i>Contact</a>
          </div>
        </div>
      </section>
