<!--====================================
    ——— FEATURE SECTION
    ===================================== -->
    <section class="mainContent full-width clearfix featureSection">
        <div class="container">
          <!-- <div class="sectionTitle text-center " >
            <h2 class="wow fadeInUp">
              <span class="shape shape-left bg-color-4"></span>
              <span>Our Features</span>
              <span class="shape shape-right bg-color-4"></span>
            </h2>
          </div> -->
  
          <div class="row ">
            <div class="col-sm-12 col-lg-4 col-xs-12">
              <div class="media featuresContent wow fadeInUp">
                <span class="media-left bg-color-1">
                  <i class="fa fa-graduation-cap bg-color-1" aria-hidden="true"></i>
                </span>
                <div class="media-body">
                  <h3 class="media-heading color-1">Experienced Teachers</h3>
                  <p>Our staff has many years of experience in traditional preschool classrooms as well as formal training in ECE</p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-4 col-xs-12">
              <div class="media featuresContent wow fadeInUp">
                <span class="media-left bg-color-2">
                  <i class="fa fa-trophy bg-color-2" aria-hidden="true"></i>
                </span>
                <div class="media-body">
                  <h3 class="media-heading color-2">Physical Activity</h3>
                  <p>Daily excercise of gross motor skills using balance bikes, play equipment and group games and activities</p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-4 col-xs-12">
              <div class="media featuresContent wow fadeInUp">
                <span class="media-left bg-color-3">
                  <i class="fa fa-book bg-color-3" aria-hidden="true"></i>
                </span>
                <div class="media-body">
                  <h3 class="media-heading color-3">Kindergarten Readiness</h3>
                  <p>We prepare your child with cognitive skills, classroom structure and opportunities to grow in responsibility</p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-4 col-xs-12">
              <div class="media featuresContent wow fadeInUp">
                <span class="media-left bg-color-4">
                  <i class="fa fa-heart bg-color-4" aria-hidden="true"></i>
                </span>
                <div class="media-body">
                  <h3 class="media-heading color-4">Social & Emotional Skills</h3>
                  <p>We give your child the opportunity to grow by helping them navigate new situations</p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-4 col-xs-12">
              <div class="media featuresContent wow fadeInUp">
                <span class="media-left bg-color-5">
                  <i class="fa fa-futbol-o bg-color-5" aria-hidden="true"></i>
                </span>
                <div class="media-body">
                  <h3 class="media-heading color-5">Play</h3>
                  <p>We recognize the importance of play as a child's first form of Education and give plenty of opportunities for both guided and free play</p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-4 col-xs-12">
              <div class="media featuresContent wow fadeInUp">
                <span class="media-left bg-color-6">
                  <i class="fa fa-rocket bg-color-6" aria-hidden="true"></i>
                </span>
                <div class="media-body">
                  <h3 class="media-heading color-6">STEM</h3>
                  <p>We prepare your child for the future by offering ample time each day for hands-on STEM learning using both screen and non-screen games, group activities and experiments</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>