---
layout: default
---
<!-- ====================================
	——— PAGE TITLE SECTION
	===================================== -->
    <section class="pageTitleSection">
            <div class="container">
              <div class="pageTitleInfo">
                <h2>Documents</h2>
                <ol class="breadcrumb">
                  <li><a href="/index.html">Home</a></li>
                  <li class="active">Docs</li>
                </ol>
              </div>
            </div>
          </section>

          <!-- ====================================
          ——— MAIN SECTION
          ===================================== -->
          <section class="mainContent full-width clearfix courseSingleSection">
            <div class="container">
                <div class="row" style="padding-bottom: 15px"><h1>PDFs</h1></div>
              <div class="row">
                 <div class="text-center col-sm-4 col-xs-12" style="padding-bottom: 32px">
                 <a href="https://mightykidspreschool.com/assets/docs/policies_updated_1_20_2020.pdf">
                 <span style="font-size: 72px"><i class="fa fa-file-pdf-o"></i></span>
                     <p style="padding-top: 10px; font-size: 24px">Information at a glance</p></a>
                 </div>
                 
         

              </div>
            </div>
          </section>
